@mixin button(
  $padding-vertical,
  $padding-horizontal,
  $bg-color,
  $border-color: $bg-color
) {
  padding: $padding-vertical $padding-horizontal;
  background: $bg-color;
  border: 1px solid $border-color;
}

@mixin font(
  $size,
  $line-height,
  $color,
  $weight: 400,
  $style: normal,
  $letter-spacing: 0
) {
  font-family: Lato;
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-style: $style;
  letter-spacing: $letter-spacing;
}
