.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper {
  margin: 0 auto;
}

.search__wrapp {
  margin-left: 41px;
}



@media screen and (min-width: $width-desctop) {
  .wrapper {
    width: $width-desctop;
  }
}

@media screen and (max-width: $width-desctop) {
  .wrapper {
    width: $width-tablet;
  }
}

@media screen and (max-width: $width-tablet) {
  .wrapper {
    max-width: $width-mobile;
  }
}
